<nav class="main-nav clearfix">
    <div class="inner">
        <ul class="nav">
            {{#foreach navigation}}
                <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
            {{/foreach}}
        </ul>
        <div class="nav-extra">
            {{subscribe_form
                form_class="newsletter-form newsletter-form-navbar"
                input_class="form-control subscribe-field"
                button_class="btn btn-primary"
                placeholder="Subscribe"
                autofocus=""
            }}
        </div>
    </div>
</nav>